*{
    margin: 0; 
    padding: 0; 
    font-size: 100%;  
}
header{
    color: black;
    margin-top: 10%;
}
h1{
    font-family: 'Yellowtail', cursive !important;
    font-size: 70px!important;
}
h2{
    font-family: 'Amatic SC', cursive!important;
    font-size: 40px!important;
}
body{
    background: url('/img/background.jpg')no-repeat center top fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}
.container-fluid{
    margin-top: 3%;
    font-size: 50px;
}
.container-fluid i{
    padding: 30px;
    text-decoration: none;
}
.container-fluid i:hover{
    color: azure;
}
i{
    color: black;
}
footer{
    margin-top: 12%;
    font-size: 20px;
    color: black;
    font-family: 'Amatic SC', cursive;
}