@font-face{
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: normal;
    src: url(/assets/fonts/Yellowtail-Regular.ttf);
}
@font-face{
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: normal;
    src: url(/assets/fonts/AmaticSC-Regular.ttf);
}
*{
    margin: 0; 
    padding: 0; 
    font-size: 100%;
}
header{
    color: black;
    margin-top: 5%;
    text-align:center;
}
h1{
    font-family: 'Yellowtail', cursive!important;
    
}
h3{
    font-family: 'Amatic SC', cursive!important;
}
body{
    background: url('/assets/img/background.jpg');
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    height: 100%;
}
.container-fluid{
    width: 100%;
    position: absolute;
    text-align:center;
    font-size: 2.5em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.container-fluid i{
    padding: 18px;
    text-decoration: none;
}
.container-fluid i:hover{
    color: azure;
}
i{
    color: black;
}
footer{
    text-align: center;
    font-size: 1.1em;
    color: black;
    font-family: 'Amatic SC', cursive;
    position: absolute;
    bottom: 0;
    width:100%;
}

@media screen and (min-width: 480px){
h1{
    font-size: 4.0em!important;
}
h3{
    font-size: 2.5em!important;
}
.container-fluid{
    font-size: 3.5em;
}
footer{
    font-size: 1.2em;
}
}
@media screen and (min-width: 640px){
h1{
    font-size: 5.0em!important;
}
h3{
    font-size: 3.0em!important;
}
.container-fluid{
    font-size: 4.5em;
}
}

@media screen and (min-width: 768px){
h1{
    font-size: 6.0em!important;
}
h3{
    font-size: 3.5em!important;
}
.container-fluid{
    font-size: 4.5em;
}
footer{
    font-size: 1.5em;
}
}
