* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(168, 168, 179);
  background: rgb(18, 18, 20);
  font-family: "Roboto";
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  margin: 40px;
}

.header-main {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  background-image: url(https://avatars.githubusercontent.com/u/18388591?v=4);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #bd93f9;
  margin-bottom: 20px;
}

.social-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.social-media {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 24px;
}

.social-media a {
  margin: 0 10px;
}

a {
  color: #eaf08d;
  text-decoration: none;
}

li a {
  margin: 0 5px;
}

a:hover {
  color: #50fa7b;
}

.title {
  color: #bd93f9;
}

.list-main {
  padding: 0 80px;
}

footer {
  margin: 20px 0;
  text-align: center;
}
